*{
  margin : 0;
  padding : 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-weight: 400;

  min-height: 100%;
  position: relative;
}

#header {
  margin-bottom: 0 !important;
}

.comp-utility-search{
  display: flex;
  padding: 10px;
}

.form-search{
  display: flex;
  flex-grow: 1;
  margin-left: 20px;
}

.search-box{
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.back-dark{
  background-color: #343a40!important
}

.wrapper{
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.search-box input {
  width: 300px;
  font-size: 16px;
  color: #000;
  padding: 5px 15px;
  outline: none;
  border-radius: .25rem;
  border: 1px solid #ced4da;
  transition: all .3s ease;
}

.search-box input:focus, .search-box button:focus{
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
.search-box input:focus{
  width: 100%;
}

.priority{
  display: inline-block;
  border-radius: 5px;
  font-weight: 700;
  font-size: 10px;
  color: #343a40;
  padding: 5px;
}


.priority.hight{
  background-color: #dc3545;
}

.priority.medium{
  background-color: #ffc107;
}

.priority.low{
  background-color: #007bff;
}

#editTodo{
  background-color: #fff;
  width: 500px;
  height: auto;
  padding: 15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border: 1px solid rgb(0, 81, 255);
  border-radius: .25rem;
  z-index: 5000;
}

#editTodo [name*="note"]{
  min-height: 150px;
}

#dim-screen{
  display: block;
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .6;
}

#dim-screen.hidden{
  display: none;
}

.todos-list tr, .todos-list td{
  vertical-align: middle;
}

tr.completed td {
  text-decoration: line-through;
}

.notifier{
  position: fixed;
  top: 50px;
  right: 20px;
}